<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EditExperimentRunScenarioTable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EditExperimentRunScenarioTable.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>https://YourSimioPortalURL</value>
            </setting>
            <setting name="PersonalAccessToken" serializeAs="String">
                <value>CreateWebAPITokenAndAddItHere</value>
            </setting>
            <setting name="AuthenticationType" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>SchedulingLaborEfficiencies</value>
            </setting>
            <setting name="ModelName" serializeAs="String">
                <value>Model</value>
            </setting>
            <setting name="ExperimentName" serializeAs="String">
                <value>__Default</value>
            </setting>
            <setting name="ScenarioName" serializeAs="String">
                <value>_ModelValues</value>
            </setting>
        </EditExperimentRunScenarioTable.Properties.Settings>
    </userSettings>
</configuration>